.TabbedPanelsTabGroupOld li.TabbedPanelsTab { font-family: fs_font; white-space:nowrap; text-transform: uppercase; background-color: #95C3E1; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 12px; padding: 5px 6px 5px 6px; position: relative; text-align: center; -moz-user-select: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; letter-spacing: 1px;}
.TabbedPanelsTabGroupOld li.TabbedPanelsTabSelected.TabbedPanelsTab, .TabbedPanelsTabGroupOld li.TabbedPanelsTab:hover { background-color: #F4830E; color: #FFFFFF; font-size: 12px; padding: 5px 6px 5px 6px; text-align: center; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; letter-spacing: 1px;}

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hide-from-user {
  display: none; }

div {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#pagebody {
  border: 0px solid white;
  width: 790px;
  height: auto;
  margin: 0 auto;
  font-family: "Oxygen", sans-serif;
  background: #2476ae;
  color: white; }

input, select {
  -webkit-outline: none;
  -moz-outline: none;
  -ms-outline: none;
  -o-outline: none;
  outline: none;
  padding: 3px;
  color: #bababa; }

input[type=text], select[type=text] {
  padding: 0.4em 0.4em 0.4em 2em;
  border-radius: 3px;
  border: 1px solid white;
  font-size: 14px;
  color: #bababa;
  position: relative; }

.search-btn-holder {
  text-align: right; }

#RezEngine-selector {
  padding: 8px;
  margin: 0 auto 0 auto; }
  #RezEngine-selector .tabs {
    list-style: none;
    margin: 0 0 4px 0;
    text-align: center; }
    #RezEngine-selector .tabs li {
      display: inline;
      margin: 2px;
      background: transparent !important; }
      #RezEngine-selector .tabs li a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        border: 1px solid #95c4e2;
        background: #95c4e2;
        text-transform: uppercase;
        color: white;
        font-size: 12px;
        border-radius: 3px;
        font-weight: 700;
        transition: 0.3s all; }
        #RezEngine-selector .tabs li a:hover {
          background: #f78500;
          border: 1px solid white; }
    #RezEngine-selector .tabs .ui-tabs-selected a {
      background: transparent; }

.engine-options {
  margin: 0 0 0.6em 0; }
.flights-inner {
	margin-top: 15px;
}

.flight-options, #flex_table {
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  margin-right: 40px; }

.flight-options span, #flex_table span {
  display: inline-block;
  transition: 0.3s all; }
  .flight-options span:hover label, #flex_table span:hover label {
    text-decoration: none;
    cursor: pointer; }

.flight-options-container input[type=text], .flight-options-container select[type=text] {
  width: 90%; }

#flex_table {
  border: none;
  /*
.flex_table {
  display: $flex_tableDisplay;
  font-size: $flex_tableFontSize;
  font-weight: $flex_tableFontWeight;
  text-transform: $flex_tableTextTransform;
  border: $flex_tableBorder;
  border-radius: $flex_tableBorderRadius;
  margin-right: $flex_tableMarginRight;
}
*/ }

.travel-des {
  font-size: 10px;
  text-transform: uppercase; }
  .travel-des .from, .travel-des .to {
    display: inline-block;
    width: 40%;
    font-size: 10px;
    font-weight: 700;
    margin-right: 60px; }
    .travel-des .from p, .travel-des .to p {
      margin-bottom: 4px; }
  .travel-des .to {
    padding-top: 7px;
    padding-bottom: 7px; }

.flight-time-and-date {
  margin: 0 0 12px 0; }
  .flight-time-and-date .departing, .flight-time-and-date .returning {
    display: inline-block;
    width: 48%;
    font-size: 10px;
    text-transform: uppercase; }
    .flight-time-and-date .departing p, .flight-time-and-date .returning p {
      margin: 0 0 2px 0; }
	  .flight-time-and-date .departing p {
		margin-bottom: 2px;
        text-transform: uppercase;
	  }
	  .flight-time-and-date .departing #ret_time_txt {
		position: relative;
		top: -4px;
	  }
  .flight-time-and-date .departing span, .flight-time-and-date .returning span {
    display: inline-block;
    margin: 0 0 4px 0; }
  .flight-time-and-date .departing {
    width: 100%; }
  .flight-time-and-date .depart-date {
   margin-right: 165px; }

.depart-time, .depart-date, .return-time, .return-date {
  display: inline-table;
  width: auto;
  font-size: 10px;
  text-transform: none; }

.return-date {
  display: inline-table !important; }

.passenger, .flight-passenger-class .f-class {
  font-size: 10px; }
.passenger div p {
    margin-bottom: 5px; }
.airline, .preference {
  display: none!important;
  font-size: 10px; }

.flight-passenger-class {
  margin: 0 0 3px 0; }
  .flight-passenger-class .passenger, .flight-passenger-class .f-class {
    display: inline-block;
    width: 364px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0 0 16px 0; }
    .flight-passenger-class .passenger div, .flight-passenger-class .f-class div {
      display: inline-block;
      text-transform: uppercase; }
  .flight-passenger-class .f-class {
    font-size: 10px;
    text-transform: uppercase; }

.arrow_plu {
  cursor: pointer; }

.airline-preference .airline {
  display: inline-block;
  width: 48%;
  font-size: 10px;
  text-transform: uppercase;
  text-transform: uppercase; }
.airline-preference .airline p {
  margin-bottom: 5px; }

.airline-preference .preference {
  display: inline-block;
  width: 22%;
  font-size: 10px;
  text-transform: uppercase; }

.search-btn {
  display: inline-block;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase!important;
  background: #f78500;
  text-align: center;
  padding: 12px 48px;
  border-radius: 3px;
  text-transform: uppercase; }

#hotels {
  font-size: 10px; }
  #hotels .hotel-location, #hotels .hotel-arrival-date, #hotels .hotel-nights {
    font-size: 10px;
    text-transform: uppercase; }
    #hotels .hotel-location input[name=H_Loc], #hotels .hotel-arrival-date input[name=H_Loc], #hotels .hotel-nights input[name=H_Loc], #hotels .hotel-location select[name=H_Loc], #hotels .hotel-arrival-date select[name=H_Loc], #hotels .hotel-nights select[name=H_Loc] {
      font-size: 14px;
      width: 230px; }
  #hotels .search-btn-holder {
    margin-top: 16px; }
  #hotels .search-btn {
    font-size: 14px; }


.hotel-loc-arrDate-nights {
  width: 100%; 
  margin-top: 20px; }

.hotel-location, .hotel-arrival-date, .hotel-nights {
  display: inline-block;
  margin-right: 30px; }

.hotel-arrival-date {
  position: relative;
  top: -27px; }

.country-res-car-type {
  margin-bottom: 1em; }

.pickup-return {
  margin-botom: 1em; }

.country-res {
  display: inline-block;
  width: 48%;
  font-size: 10px;
  text-transform: uppercase; }
  .country-res p {
    font-weight: 400;
    margin-bottom: 0.4em; }

.car-type {
  display: inline-block;
  width: 48%;
  font-size: 10px;
  text-transform: uppercase; }
  .car-type p {
    font-size: 10px;
    margin-bottom: 0.3em; }

.pickup-loc {
  display: inline-block;
  width: 48%;
  font-size: 10px;
  text-transform: uppercase; }
  .pickup-loc p {
    font-size: 10px;
    margin-bottom: 0.3em; }

.return-loc {
  display: inline-block;
  width: 48%;
  font-size: 10px;
  text-transform: uppercase; }
  .return-loc p {
    margin-bottom: 0.3em; }

.pickup-date {
  display: inline-table;
  width: auto;
  font-size: 10px;
  text-transform: uppercase; }
  .pickup-date p {
    font-size: 10px; }

.pickup-time {
  display: inline-block;
  width: auto;
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
  top: 23px; }
  .pickup-time p {
    font-size: 10px; }

.return-date {
  display: inline-block;
  width: auto;
  font-size: 10px;
  text-transform: uppercase; }
  .return-date p {
    font-size: 10px; 
    position: relative; }

.return-time {
  display: inline-block;
  width: auto;
  font-size: 10px;
  text-transform: none;
  position: relative; }
  .return-time p {
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 4px; }

.return-to-pick {
  font-size: 10px; }

#roomComboH {
  display: inline-table; }

.dep-date, .vac-from-to .dep-ret-time .dep-time, .vac-from-to .dep-ret-time .return-time, .vac-from-to .dep-ret-time .return-date {
  display: inline-table;
  margin-right: 1.2em; }
.departing {
  margin-top: 15px; }
.departing, .flight-time-and-date .returning {
  margin-bottom: 16px; }

.star-ratings, .hotel-name, .hotel-type {
  display: inline-block;
  margin-right: 1em; }
  .star-ratings p, .hotel-name p, .hotel-type p {
    font-size: 10px;
    text-transform: uppercase; }

.show_more_btn {
  font-size: 0.7em; }
  .show_more_btn i {
    margin-left: 0.8em; }

.show_more {
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin-bottom: 1em; }

.country-of-residence, .location, .act-check-in-date, .act-nights {
  display: inline-table;
  margin-right: 3em; }

.act-nights {
  display: inline-table; }

.act-check-out-date {
  display: inline-table; }

.layover_wrapper {
  position: absolute;
  left: 0px;
  z-index: 200 !important; }

#loading_body {
  margin: 3px;
  border: solid #4882b4 1px; }

.layover {
  z-index: 300 !important;
  position: relative;
  margin: 0px auto; }

.layover_close {
  float: left;
  z-index: 200;
  margin-top: -15px;
  margin-left: -15px; }

.layover_body {
  padding: 10px 10px 10px 10px;
  background: #FFFFFF;
  z-index: 250; }

#disablebg {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 100%;
  opacity: 0.70;
  -moz-opacity: 0.70;
  filter: alpha(opacity=70);
  z-index: 0; }

.ui-autocomplete {
  width: 400px !important; }

.vac-from-to .to {
  display: inline-block; }
.vac-from-to .from, .vac-from-to .to {
  display: inline-block; }
.vac-from-to .dep-ret-time .dep-date, .vac-from-to .dep-ret-time .dep-time, .vac-from-to .dep-ret-time .return-time, .vac-from-to .dep-ret-time .return-date {
  display: inline-block;
  text-transform: uppercase; }

#roomComboV {
  display: inline-block;
  margin-top: 20px; }

.depDate-rooms {
margin-top: -17px;
  font-size: 10px;
  margin-bottom: -18px;
  text-transform: uppercase; }

#retLocDisplay {
  margin-bottom: 0.4em; }

#retLocDisplay1 {
  font-size: 10px; }

#cars .return-date p {
position: relative;
top: -3px;
margin-bottom: 1px;
  font-size: 10px; }
#cars .return-time {
  top: 23px; }
#cars .return-time p {
  font-size: 10px; }
#cars .pickup-loc input[type=text], #cars .pickup-loc select[type=text] {
  font-size: 14px;
  width: 203px; }
#cars .return-loc input[type=text], #cars .return-loc select[type=text] {
  font-size: 14px;
  width: 203px; }
#cars .car-type select {
  width: 240px;
  padding-left: 20px;
  background: white url(../images/car.png) no-repeat left center; }
#cars .search-btn-holder {
  margin-top: 16px; }
#cars .search-btn {
  font-size: 14px; }

.return-to-pick {
  text-transform: uppercase;
  font-size: 10px; }

#activities .residence-n-loc {
  margin-bottom: 0.6em; }
#activities .chk-in-date {
  margin-bottom: 0.8em; }
#activities .country-of-residence p, #activities .location p, #activities .act-check-in-date p, #activities .act-nights p {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 4px; }
#activities .location input, #activities .location select {
  font-size: 14px;
  width: 254px; }
#activities .act-check-out-date p {
  font-size: 10px;
  text-transform: uppercase; }
#activities #roomComboA {
  font-size: 10px;
  text-transform: uppercase; }
#activities .search-btn {
  font-size: 14px; }

.vac-from-to .from, .vac-from-to .to {
  font-size: 10px;
  text-transform: uppercase; }
  .vac-from-to .from p, .vac-from-to .to p {
    margin-bottom: 4px; }
.vac-from-to input, .vac-from-to select {
  width: 278px;
  font-size: 14px; }
#vacation .return-time {
  top: 25px; }
#vacation .return-time p {
  /*margin-bottom: -1px!important;*/
}
#vacation .dep-date {
  margin-right: 165px;}
#vacation .dep-date p, #vacation .vac-from-to .dep-ret-time .dep-time p, .vac-from-to .dep-ret-time #vacation .dep-time p, #vacation .vac-from-to .dep-ret-time .return-time p, .vac-from-to .dep-ret-time #vacation .return-time p, #vacation .vac-from-to .dep-ret-time .return-date p, .vac-from-to .dep-ret-time #vacation .return-date p {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 5px; }  
#vacation .depart-time {
  margin-right: 100px;!important}
#vacation .depart-time p, #vacation .depart-date p, #vacation .return-time p, #vacation .return-date p {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 3px; }
#vacation .search-btn-holder {
  margin-top: 16px; }
#vacation .search-btn {
  font-size: 14px; }
#vacation .f-class {
  display: inline-block;
  margin-left: 45px;
  font-size: 10px;
  text-transform: uppercase;
  position: relative; }
#vacation .roomcombo-f-class {
  display: inline-block;
  height: auto; }
  #vacation .roomcombo-f-class .room-combo {
    display: inline-block;
	margin-bottom: -38px;
    width: 260px; }
    #vacation .roomcombo-f-class .room-combo table {
      display: inline-table; }

.show_more_vac {
  color: #fff;
  text-transform: uppercase; }

#roomComboV {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 32px; }

.fa {
  color: #fff; }

.mul_d_1, .mul_d_2, .mul_d_3 {
  display: block; }
  .mul_d_1 i, .mul_d_2 i, .mul_d_3 i {
    color: white; }

#RezEngine-selector .tabs .ui-tabs-selected a {
  background: #F78500; }

.star-rating-vac {
  display: inline-block; }

.airline-vac {
  display: inline-block; }

.hotel-type-vac {
  display: inline-block; }

#show_more_vac {
  margin-top: 32px;
  font-size: 10px;
  text-transform: uppercase; }

/* #alertbox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  font-family: "Oxygen", sans-serif; }
  
  #alertbox #alertbox_msg {
    display: inline-block;
    background: #f2555c;
    margin-top: 10%;
    padding: 20px;
    color: #fff; } */
	
	
	#alertbox #alertbox_msg {
	display:block;
    background: #f2555c;
    padding: 20px;
    width: 790px;
    margin: 0 auto;
    color: #fff;
}


.ui-autocomplete {
  display: inline-block;
  background: #fff;
  font-family: "Oxygen", sans-serif;
  font-size: 10px;
  border: 1px solid #F78500;
  border-radius: 3px;
  margin-top: 10px; }
  .ui-autocomplete li {
    margin: 0.2em; }
    .ui-autocomplete li a {
      padding: 0.5em;
      display: block;
      transition: 0.3s all; }
  .ui-autocomplete .ui-state-hover {
    background: #F78500;
    color: #fff; }

.ui-state-focus {
  background: #F78500;
  color: #fff; }

#datepicker:before {
  position: absolute;
  font-family: "Oxygen", sans-serif;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-bottom: 5px solid #444751;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent; }

#datepicker {
  position: relative;
  background: #444751;
  display: inline-block;
  font-family: "Oxygen", sans-serif;
  padding: 5px;
  width: 250px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 #FFF;
  -moz-box-shadow: 0 1px 0 #FFF;
  box-shadow: 0 1px 0 #FFF;
  z-index: 99999999999; }

.ui-datepicker-header {
  background: #efefef;
  font-family: "Oxygen", sans-serif;
  color: #bababa;
  height: 32px;
  position: relative; }

#ui-datepicker-div {
  z-index: 9999 !important; }

.ui-datepicker-prev:hover {
  border-right: 5px solid #001eff; }

.ui-datepicker-prev {
  cursor: pointer;
  float: left;
  display: block;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #FFF;
  text-indent: -9999px;
  height: 0;
  width: 0;
  margin-top: 10px;
  margin-left: 5px; }

.ui-datepicker-next:hover {
  border-left: 5px solid #001eff; }

.ui-datepicker-next {
  cursor: pointer;
  float: right;
  display: block;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid #FFF;
  border-right: 5px solid transparent;
  text-indent: -9999px;
  height: 0;
  width: 0;
  margin-top: 10px;
  margin-right: 5px; }

  .ui-datepicker-month {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.ui-datepicker-year {
    color: #fff;
    font-weight: bold;
}
.ui-datepicker-title {
  background:#333;
  text-align: center;
  font-family: "Oxygen", sans-serif;
  line-height: 30px;
  font-size: 13px; }

table {
  border-collapse: inherit !important; }

.ui-datepicker-calendar {
  background: #FFF;
  font-family: "Oxygen", sans-serif;
  padding: 5px 5px 9px 5px; }

.ui-datepicker th {
  color: #63697A;
  text-align: center;
  font-size: 10px;
  border: 0;
  padding-bottom: 5px; }

.ui-datepicker td {
  border: 0; }

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  color: #AAAAAA;
  line-height: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0 0 2px 0;
  font-size: 10px; }

  
.ui-datepicker-unselectable {
	background:#ffc784;
}
.ui-datepicker-unselectable  span{
	color:#f59f38 !important;
}
.ui-datepicker-other-month.ui-datepicker-unselectable.ui-state-disabled {
    background:#FFFFFF;
}

.ui-datepicker td a:hover {
  background: #f58426;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f58426), to(#fbb57b));
  background-image: -moz-linear-gradient(top, #f58426, #fbb57b 100%);
  color: #FFF;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset; }

#ui-datepicker-div {
  box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
  width: auto !important; }

table.ui-datepicker-calendar {
  display: inline-table; }

#act-chk-in-date, #act-chk-out-date, #vac-dep-date {
  font-size: 14px; }

#vac-ret-date {
  font-size: 10px; }

#air_Loc_mul_0, #air_Loc1_mul_0, #air_Loc_mul_1, #air_Loc1_mul_1, #air_Loc_mul_2, #air_Loc1_mul_2, #air_Loc_mul_3, #air_Loc1_mul_3, #air_Loc_mul_4, #air_Loc1_mul_4, #car_Loc, #car_Loc1, #H_Loc, #V_DepFrom, #V_RetLoc, #activity_Loc {
  background: white url(../images/loc.png) no-repeat left center; }

#Air_AirLine {
  padding-left: 20px;
  background: white url(../images/air.png) no-repeat left center; }

#Air_DepTime_0, #ret_time, #Air_DepTime, #Air_DepTime_1, select[name=Air_DepTime_2], select[name=Air_DepTime_3], select[name=PickTime], select[name=ReturnTime], select[name=Air_DepTime], select[name=Air_RetTime], select[name=Air_DepTime_4] {
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  background: white url(../images/time.png) no-repeat left center; }

#Air_DepTime_0 {
  text-transform: none;
  margin-right: 91px; }

#hotelName {
  padding-left: 20px;
  background: white url(../images/hotel.png) no-repeat left center;
  font-size: 10px; }

#C_Country, #A_Country {
  padding-left: 20px;
  background: white url(../images/country.png) no-repeat left center; }

#hotel-arrival-date, #f-dep-date, #f-ret-date, #h-dep-date, #f-des1-dep-date, #f-des2-dep-date, #f-des3-dep-date, #f-des4-dep-date, #pk-up-date, #c-ret-date, #act-chk-in-date, #act-chk-out-date, #vac-dep-date, #vac-ret-date {
  display: inline-table;
  width: 77%;
  background: white url(../images/cal.png) no-repeat left center; }
#f-des0-dep-date, .singledate {
	background: white url(../images/cal.png) no-repeat left center; }
.hotel-arrival-date {
  display: inline-table; }

#f-des1-dep-date, #f-des4-dep-date, #f-des2-dep-date, #f-des3-dep-date, #pk-up-date, #c-ret-date {
  font-size: 14px; }

#f-dep-date {
  font-size: 10px; }

select[name=activity_nights] {
  padding-left: 20px;
  background: white url(../images/night.png) no-repeat left center; }

#flights .depart-date p.departing-mul {
  font-size: 10px; }

#dep_time_txt_mul_4, #dep_time_txt_mul_1, #dep_time_txt_mul_2, #dep_time_txt_mul_3 {
  font-size: 10px; }
#dep_time_txt_mul_4  {
	margin-bottom: 6px;
}

select {
  border-radius: 3px;
  border: none; }

.star-rating-vac p, .hotel-type-vac p, .airline-vac p {
  font-size: 10px; }

#vac-dep-date, #vac-ret-date, #pk-up-date, #c-ret-date, #act-chk-in-date, #act-chk-out-date, #activity_Loc, #h-dep-date {
  padding-top: 4px;
  padding-bottom: 4px; }

.flight-options label, #flex_table label {
	top: -2px;
	position: relative;
  text-transform: uppercase;
  font-size: 10px; }

.flight-time-and-date {
 margin-bottom: -17px;
  line-height: 0.3; }

.ui-state-active a {
  background: #f78500 !important; }

table.ui-datepicker-calendar {
  border: 1px solid #e2e2e2; }
.ui-datepicker-group {
  display: inline-block; }
.hide-from-user {
  display: none!important; }
.depart-date > p {
  margin-bottom: 7px !important; }
.hotel-location p, .hotel-arrival-date p {
  margin-bottom: 4px !important; }
#hotels .hotel-nights p {
  margin-bottom: 7px; }
.inline-b-el {
  display: inline-block!important; }	
#ret_time_txt {
  font-size: 10px; }
#dep_time_txt_mul_1, #dep_time_txt_mul_2, #dep_time_txt_mul_3 {
  margin-bottom: 7px; }  
.passenger select {
margin-right: 93px;
}
select[name=Air_cmbNoOfInfants] {
margin-right: 0px;
}
#cars .pickup-time p {
	position: relative;
	top: -3px;
}
#cars .return-date input{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 4px;
}
.show_more, .show_more_vac {
	display: none;
}
#vacationDisplay {
	margin-top: 13px;
}
#vacationDisplay 
#V_DepFrom {
	margin-right: 40px;
}
#carDisplay, #activityDisplay {
	margin-top: 20px;
}
.tab-content {
	padding-left: 40px;
}
#vacation {
	padding-left: 43px;
}
.cars-dates-time {
	margin-bottom: -18px;
}
.cal_H {
	position: absolute;
	top: 105px;
}
.cal_A {
	position: absolute;
	top: 155px;
}
.cal_V {
	position: absolute;
	top: 155px;
}
.cal_F {
	position: absolute;
	top: 195px;
}
.cal_C {
	position: absolute;
	top: 240px;
}
.mul_d .depart-date{
	margin-right: 164px;
}
.ff-mt-fix {
	margin-bottom: 2px;
}
select[name=H_cmbNoOfRooms] {
	margin-top: 4px;
}
select {
	padding-top: 6px;
	padding-bottom: 6px;
}
#h-nights {
	position: relative;
	top: -3px;
}
h2 {
font-family: fs_font;
font-size: 25px;
color: #257CB7;
text-decoration: none;
font-weight: normal;
padding: 0px;
border: none;
margin: 0px;
line-height: 34px;
}
.normal {
font-family: fs_font;
font-size: 16px;
line-height: 25px;
font-weight: 600;
margin-left: 20px;
margin-top: 10px;
}
td {  vertical-align: middle;}
fieldset { border:2px solid #999;}

.child-occupancy-label{
    display: inline-block;
    width: 55px;
}

.child-occupancy-room-number{
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 11px;
    width: 50px;
}
#dep_time_txt_mul_1, #dep_time_txt_mul_2, #dep_time_txt_mul_3, #dep_time_txt_mul_4 {
	text-transform: uppercase;
}
