/*IE 10 fixes*/
.ie10 #Air_DepTime_0 {
	margin-right: 100px!important;
}
.ie10 .flight-time-and-date .depart-date {
	margin-right: 180px;
}
.ie10 #airDisplay #ret_time_txt {
	position: relative;
	top: -5px;
}
.ie10 #vacation .dep-date {
	margin-right: 130px; }
.ie10 #vacation .depart-time {
	margin-right: 100px;
}
/*IE 9 fixes*/
.ie9 #Air_DepTime_0 {
	margin-right: 100px!important;
}
.ie9 .flight-time-and-date .depart-date {
	margin-right: 165px;
}

.ie9 #vacation .dep-date {
	margin-right: 130px; }
.ie9 #vacation .depart-time {
	margin-right: 100px;
} 
/*IE 8 fixes*/
.ie10 #Air_DepTime_0 {
	margin-right: 100px!important;
}
.ie10 .flight-time-and-date .depart-date {
	margin-right: 180px;
}
.ie8 .flight-options {
	margin-right: 0;
}
.ie8 #ret_time_txt {
	position: relative;
	top: 20px;
}
.ie8 #airDisplay #ret_time_txt {
	position: relative;
	top: -5px;
}
.ie8 #vacation .dep-date {
  margin-right: 127px;!important}

.ie8  .date-picker-wrapper {
	position: absolute;
}
.ie8 #flex_table {
	margin-left: 30px;
}
.ie8 #vacation #vac-dep-date {
	margin-right: 40px;
}

.ie8 .singledate{
    width:175px!important;
}
.ie8 .multi-depart-date-two {
	padding:15px;
}
.ie8 #multi_des_01 .depart-time, .ie8 #multi_des_02 .depart-time, .ie8 #multi_des_03 .depart-time, .ie8 #multi_des_04 .depart-time {
	position: relative;
	left: -17px;
}
.ie8 #f-des2-dep-date, .ie8 #f-des3-dep-date, .ie8 #f-des4-dep-date {
    padding:15px;
}
.ie8 .hotel-arrival-date .date-range103 {
    padding: 14px;   
}
.ie8 #c-ret-date {
    padding:  13px 14px 13px 14px!important;
    position: relative;
    left: -4px;
    top: 2px;
}
.ie8 #vacationDisplay .date-range103 {
    padding: 14px;   
    width: 155px;
}
.ie8 #act-chk-in-date{
    padding: 14px; 
    width: 180px;
    margin-right: 35px;
}

/*firefox fixes*/

.ff #Air_DepTime_0 {
	margin-right: 41px; }
.ff .flights-inner .depart-time {
	margin-left: 16px;
}
.ff .flights-inner .inline-b-el {
	margin-right: 30px;
}
.ff #vacation .dep-date {
	margin-right: 130px; }
.ff #vacation .depart-time {
	margin-right: 40px;
}