@charset "utf-8";
/* CSS Document */

div.autocomplete {
  position:absolute;
  width:300px !important;
  background-color:#c3e4f4;
  border:1px solid #35689b;
  margin:0;
  padding:0;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #FC6;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:0px 0px 0px 5px;
  line-height:22px;
  cursor:pointer;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  border-bottom:1px solid #35689b;
  border-left:1px solid #35689b;
  border-right:1px solid #35689b;
}
